.cardMain {
  display: flex;
  flex-direction: column;
}
.addBtn {
  margin-top: 20px;
  display: flex;
  justify-content: center;

  width: 100%;
}

.addBtn:hover {
  color: #a39eb7;
}

.cardItem {
  display: flex;
  background-color: #2e2e41;
  border-radius: 10px;
  padding: 40px 15px;

  margin-bottom: 10px;
  justify-content: space-between;
  gap: 10px;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.cardItem:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.cardItem > div {
  width: calc(33% - 10px);
}

.cardInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 40px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  margin: 0 auto;
}

.cardInfo > div:first-child {
  align-self: flex-start;
}

.cardInfo > div:last-child {
  align-self: flex-end;
}

.cardDetials {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
